<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite thread-count="1" name="Suite" parallel="tests" >
    <listeners>
        <listener class-name="Utils.TestListener"></listener>
    </listeners>


    <test name="com.FirstTest" parallel="methods" thread-count="4">
        <classes>
           <class name="Test.RegisterPageTest">
               <methods>
                   <include name="test1"></include>
                   <include name="test2"></include>
                   <include name="test3"></include>
                   <include name="test4"></include>
                   <include name="test5"></include>
                   <include name="test6"></include>

               </methods>
           </class>
        </classes>
    </test>

</suite>